# Ignorar el contenido de la carpeta de datasets, pero no la carpeta en sí
data/*

# Ignorar archivos temporales de Python y entornos virtuales
__pycache__/
*.pyc
.env
venv/
env/

# Ignorar archivos de datos pesados en cualquier lugar del proyecto
*.csv
*.xlsx

# Pero NO ignorar el archivo .gitkeep
!data/.gitkeep